NEXT_PUBLIC_SUPABASE_URL=https://ysamaiervsohjjlyfkly.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzYW1haWVydnNvaGpqbHlma2x5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4MDcxNTcsImV4cCI6MjEwNDM4MzE1N30.oGBp15WKMG-QD6NRs9jdAFkVQ-euLn7JFa9hVNskN64
NEXT_PUBLIC_GOOGLE_CLIENT_ID=seu-google-client-id.apps.googleusercontent.com
SUPABASE_SERVICE_ROLE_KEY=service-role-key-somente-server
WHATSAPP_API_URL=https://sua-api-whatsapp.com/send
WHATSAPP_API_TOKEN=token-da-api
APP_URL=https://nelia-l.vercel.app
